.creation {
	// Контейнер для кнопок
	.buttonСontainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-top: 16px;
	}

	// Кнопка REF слева
	.btnReferral {
		flex-shrink: 0; // Убираем сжатие кнопки, чтобы она не уменьшалась
		width: 150px; // Фиксированная ширина кнопки
		height: 40px; // Фиксированная высота кнопки
		color: rgb(0, 0, 0);
		border: 2px solid rgb(0, 0, 0); // Черный контур
		border-radius: 10px;
		cursor: pointer;
		transition:
			background-color 0.3s,
			border 0.3s;
		display: flex;
		justify-content: center;
		align-items: center; // Центрируем текст и иконки внутри кнопки

		&:active {
			transform: none; // Убираем любые трансформации при нажатии (изменение размера)
		}
	}

	// Стайл для иконок
	.icon {
		width: 50px; // Размеры иконки
		height: 50px;
	}

	> div {
		@apply transition-all grid grid-rows-[0fr] duration-500;
		&.active {
			@apply grid-rows-[1fr];
		}
		> form {
			@apply overflow-hidden;
			> p {
				@apply text-center  my-4 text-black text-xs;
			}
			.head {
				@apply w-[57.5%] flex items-center justify-between;
				> p {
					@apply text-black font-bold;
				}
				&.initial {
					@apply justify-end;
				}
			}
		}
	}
}
